<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhang.huancun.mapperscan.mappers">
    <select id="select" resultType="zhang.huancun.Entity.authorities">
        select * from authorities where username=#{id}
    </select>

    <select id="selecttt" resultType="zhang.huancun.Entity.authorities">
        select * from authorities where id=#{id}
    </select>


</mapper>